In [ ]:
# Multiple Linear Regression Model

Here we fit a model predicting `Sales` from all available predictors (`TV`, `Radio`, and `Newspaper`).

In [ ]:
## 1. Loading and Exploring the Data  

We load the `Advertising.csv` dataset and take a first look at its structure.

In [1]:
adv = read.csv("Advertising.csv")
class(adv)
head(adv)
sapply(adv, class)
str (adv)

[1] "data.frame"

  TV    Radio Newspaper Sales
1 230.1 37.8  69.2      22.1
2  44.5 39.3  45.1      10.4
3  17.2 45.9  69.3       9.3
4 151.5 41.3  58.5      18.5
5 180.8 10.8  58.4      12.9
6   8.7 48.9  75.0       7.2

       TV     Radio Newspaper     Sales
"numeric" "numeric" "numeric" "numeric"

'data.frame':	200 obs. of  4 variables:
 $ TV       : num  230.1 44.5 17.2 151.5 180.8 ...
 $ Radio    : num  37.8 39.3 45.9 41.3 10.8 48.9 32.8 19.6 2.1 2.6 ...
 $ Newspaper: num  69.2 45.1 69.3 58.5 58.4 75 23.5 11.6 1 21.2 ...
 $ Sales    : num  22.1 10.4 9.3 18.5 12.9 7.2 11.8 13.2 4.8 10.6 ...